# Ignore Python virtual environments
venv/
env/
__pycache__/

# Ignore version control and editor files
.git/
.gitignore
.idea/
.vscode/

# Ignore compiled / temp files
*.pyc
*.pyo
*.pyd
*.db
db.sqlite3

# Ignore static build outputs
staticfiles/
static/
media/

# Ignore Docker stuff
Dockerfile
docker-compose.yml
docker-compose-deploy.yml

# Ignore local configuration
.env
*.log
